<!DOCTYPE html>
<html>

<head>
  <% include partial/header %>
</head>

<body>
  <% include partial/navbar %>

  <div class="container">
    <div class="row">
      
    </div>
  </div>
</body>

</html>